@model ExamSchedule.Models.Schedule

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <div class="row">
        <div class="col-1">
            <a asp-action="Index">Back to List</a>
        </div>
        <div class="col-1">
            <a asp-controller="Arrange" asp-action="Index" asp-route-id="@Model.Id" id="btnArrange">Arrange</a>
        </div>

    </div>
    <hr />
    <div class="row">
        <div class="pl-5">
            <h4>@Html.DisplayNameFor(model => model.Title)</h4>
            <div class="pl-5" style="font-size:30px !important;">@Html.DisplayFor(model => model.Title)</div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 fw-bold">@Html.DisplayNameFor(model => model.StartDate)</div>
        <div class="col-1">:</div>
        <div class="col-2"> @Html.DisplayFor(model => model.StartDate)</div>
        <div class="col-3  fw-bold">@Html.DisplayNameFor(model => model.EndDate)</div>
        <div class="col-1">:</div>
        <div class="col-2">@Html.DisplayFor(model => model.EndDate)</div>
    </div>
    <div class="row">
        <div class="col-3  fw-bold"> @Html.DisplayNameFor(model => model.Start)</div>
        <div class="col-1">:</div>
        <div class="col-2">@Html.DisplayFor(model => model.Start)</div>
        <div class="col-3  fw-bold">@Html.DisplayNameFor(model => model.End)</div>
        <div class="col-1">:</div>
        <div class="col-2">@Html.DisplayFor(model => model.End)</div>
    </div>
    <div class="row">
        <div class="col-3 fw-bold">@Html.DisplayNameFor(model => model.ScheduleRestrictions)</div>
        <div class="col-1">:</div>
        <div class="col-2">
            @Html.DisplayFor(model => model.ScheduleRestrictions.Count)
            @if (Model.ScheduleRestrictions.Count > 0)
            {
                <a href="@Url.Action("RestrictionList",new { id=Model.Id})">List</a>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-3 fw-bold"> @Html.DisplayNameFor(model => model.Exams)</div>
        <div class="col-1">:</div>
        <div class="col-2">
            @Html.DisplayFor(model => model.Exams.Count)
            @if (Model.ExamCount > 0)
            {
                <a href="@Url.Action("ExamList",new { id=Model.Id})">List</a>
            }
        </div>
    </div>
</div>
